{% extends 'siteapp/empty.html' %}

{% block metakeyw %}
    <meta name="keywords" content="официальный импортер лимонад Натахтари Аква Мир Владикавказ"/>
{% endblock metakeyw %}

{% block metadescr %}
    <meta name="description" content="Где купить лимонад Натахтари в РФ. Адрес и контакты Аква Мир"/>
{% endblock metadescr %}

{% block title %}
    <title>Контакты "Аква Мир"</title>
{% endblock title %}

{% block content1 %}

    <div class="row center" xmlns="http://www.w3.org/1999/html">
        <h1 class="flow-text">Контакты</h1>
        <div class="divider"></div>
    </div>
    <div class="row center">
        <div class="col s12 akvalogo">
            <img class="akvalogo" src="{{ MEDIA_URL }}img/akvalogo.jpg" alt="akvalogo" />
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="section">
                <ul>
                    <li class="flow-text"><h5>ООО "Аква Мир"</h5></li>
                    <li><br/></li>
                    <li class="large-text"><i class="material-icons middle-text">location_on</i>362035, РСО-Алания,<br/>г. Владикавказ, ул. Московская, 8Д</li>
                    <li><br/></li>
                    <li class="large-text"><i class="material-icons middle-text">email</i> akvamir-2015@inbox.ru</li>
                    <li><br/></li>
                    <li class="large-text"><i class="material-icons middle-text">perm_identity</i><b> Генеральный директор</b></li>
                    <li class="large-text"><i class="material-icons middle-text">phone</i> +7 (988) 830-77-22</li>
                    <li><br/></li>
                    <li class="large-text"><i class="material-icons middle-text">perm_identity</i><b> Директор по развитию</b></li>
                    <li class="large-text"><i class="material-icons middle-text">phone</i> +7 (988) 148-88-25</li>
                </ul>
            </div>
        </div>
        <div class="col s12 m8 l8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2915.123179986698!2d44.64143631547853!3d43.059876779146165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x405075456aea3b95%3A0xb3cc08d1a0e59dd1!2z0J7QntCeICLQkNC60LLQsCDQnNC40YAi!5e0!3m2!1sru!2s!4v1506422749511" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="divider"></div>

{% endblock content1 %}
