{% extends 'siteapp/empty.html' %}

{% block metakeyw %}
    <meta name="keywords" content="лимонад Натахтари дистрибуция партнерство Россия"/>
{% endblock metakeyw %}

{% block metadescr %}
    <meta name="description" content="Дистрибуция лимонадов Натахтари в России"/>
{% endblock metadescr %}

{% block title %}
    <title>Партнерство</title>
{% endblock title %}

{% block content1 %}

	<div class="row center">
        <h1 class="flow-text">Партнерство</h1>
        <div class="divider"></div>
    </div>
    <p class="large-text">Компания "Аква Мир" глубоко ценит и уважает своих партнеров и готова рассмотреть предложения по сотрудничеству.
            <br>
            <br>
            Мы предлагаем своим партнерам:</p>
    <div class="container">
        <div class="row center">
            <div class="col s6 m3 l3">
                <i class="medium material-icons blue-text text-lighten-1">attach_money</i>
                <p class="large-text"><b>Удобную форму оплаты</b></p>
            </div>
            <div class="col s6 m3 l3">
                <i class="medium material-icons blue-text text-lighten-1">people</i>
                <p class="large-text"><b>Помощь в мотивации торгового персонала</b></p>
            </div>
            <div class="col s6 m3 l3">
                <i class="medium material-icons blue-text text-lighten-1">local_shipping</i>
                <p class="large-text"><b>Помощь в логистике</b></p>
            </div>
            <div class="col s6 m3 l3">
                <i class="medium material-icons blue-text text-lighten-1">description</i>
                <p class="large-text"><b>Документальное сопровождение</b></p>
            </div>
        </div>
    </div>
    <p class="large-text">Мы всегда готовы к конструктивному разговору.</p>
    <div class="divider"></div>
	
{% endblock content1 %}
